body {
  font: 100% "Comic Sans MS", cursive, sans-serif;
  background-color: #bcaeaa;
  color: #6e6360;
  margin: 5vw; }
  body #blog-name {
    font-size: 300%;
    font-weight: bold;
    color: #632532;
    position: relative;
    left: 2.5vw;
    border-bottom: dashed #632532;
    width: 82vw;
    padding: 2vw;
    margin-bottom: 2.5vw; }
  body .post {
    position: relative;
    margin: 2.5vw 0; }
    body .post .left-col {
      width: 45%;
      display: inline-block;
      min-height: 15.2vw;
      border-right: 0.25vw solid #6e6360;
      box-sizing: border-box;
      height: auto;
      position: relative;
      margin: 0 2.5vw; }
      body .post .left-col .image {
        right: 1vw;
        position: relative;
        width: 38vw;
        height: 38vw;
        background-color: black;
        margin-top: 12.5vw; }
        body .post .left-col .image img {
          position: absolute;
          max-width: 38vw;
          max-height: 38vw;
          display: table-cell;
          top: 50%;
          left: 50%;
          margin: auto;
          transform: translate(-50%, -50%); }
      body .post .left-col .share-info {
        right: 1vw;
        margin: 1.66667vw 0;
        background-color: white;
        position: relative;
        width: 38vw;
        height: 5.42857vw;
        line-height: 5.42857vw;
        vertical-align: middle;
        border: 0.2vw solid #6e6360; }
        body .post .left-col .share-info .comments {
          margin-right: 7vw;
          margin-left: 2vw;
          display: inline-block; }
        body .post .left-col .share-info .likes {
          margin-right: 7vw;
          display: inline-block; }
        body .post .left-col .share-info .shares {
          display: inline-block; }
    body .post .month {
      display: block;
      position: absolute;
      top: 0;
      right: 48%;
      width: 7.5vw;
      height: 7.5vw;
      line-height: 7.5vw;
      color: white;
      border: 0.25vw solid #6e6360;
      border-radius: 50%;
      background-color: #6e6360;
      text-align: center;
      vertical-align: middle;
      font-size: 95%; }
    body .post .right-col {
      border: 0.2vw solid #6e6360;
      color: black;
      margin-top: 12.5vw;
      display: inline-block;
      position: relative;
      background-color: white;
      width: 40vw;
      height: auto;
      vertical-align: top;
      padding: 2vw 0 2vw 2vw; }
      body .post .right-col .date {
        display: inline-block;
        position: absolute;
        right: 2.5vw; }
      body .post .right-col .title {
        display: inline-block; }
      body .post .right-col .info-divider {
        position: absolute;
        top: 0.2vw;
        display: block;
        width: 89%;
        height: 5px;
        border: 0;
        border-top: 1px solid black;
        margin: 5vw 0;
        padding: 0;
        content: ""; }
      body .post .right-col .more-info {
        margin-top: 5vw; }

@media only screen and (max-width: 1080px) and (min-width: 720px) {
  body {
    margin: 5vw 0 5vw 2.5vw; }
    body .post {
      margin-top: 5vw; }
      body .post .left-col {
        width: 47%;
        border-right: 0.5vw solid #6e6360; }
        body .post .left-col .image {
          width: 41.42vw;
          height: 41.42vw; }
          body .post .left-col .image img {
            max-width: 41.42vw;
            max-height: 41.42vw; }
        body .post .left-col .share-info {
          width: 41.04vw;
          height: 5.86286vw; }
          body .post .left-col .share-info .comments {
            margin-right: 6.9vw; }
          body .post .left-col .share-info .likes {
            margin-right: 6.9vw; }
      body .post .month {
        right: 45.5%;
        width: 10vw;
        height: 10vw;
        line-height: 10vw;
        z-index: 1; }
      body .post .right-col {
        width: 39%;
        right: -1.5vw; } }
@media only screen and (max-width: 720px) {
  body #blog-name {
    font-size: 420%;
    width: 80vw;
    text-align: center; }
  body .post {
    border-right: 1vw solid #6e6360;
    margin: 0; }
    body .post .left-col {
      display: block;
      width: 87.4vw;
      min-height: 11.4vw; }
      body .post .left-col .image {
        top: 10vw;
        margin-top: 13.5vw;
        width: 81.7vw;
        height: 81.7vw; }
        body .post .left-col .image img {
          max-width: 81.7vw;
          max-height: 81.7vw; }
      body .post .left-col .share-info {
        top: 10vw;
        width: 80.94vw;
        height: 11.56286vw;
        line-height: 11.56286vw;
        border: 0.5vw solid #6e6360; }
        body .post .left-col .share-info .comments {
          margin-right: 16vw;
          margin-left: 4vw; }
        body .post .left-col .share-info .likes {
          margin-right: 16vw; }
    body .post .right-col {
      display: block;
      right: -1.2vw;
      width: 77.14vw;
      margin-right: 5vw;
      height: auto;
      border: 0.5vw solid #6e6360;
      padding: 4vw 0 4vw 4vw; }
      body .post .right-col .date {
        display: block;
        right: 5vw; }
      body .post .right-col .info-divider {
        top: 3.2vw;
        width: 72.2vw;
        margin: 5.5vw 0; }
    body .post .month {
      top: -4%;
      right: -4%;
      width: 25vw;
      height: 10vw;
      line-height: 10vw;
      border-radius: 20%; } }

/*# sourceMappingURL=timeline.css.map */
